body{
    background-color: #F4A75A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    background-color: white;
    padding: 2em;
    margin: 2em;
    border-radius: 1em;
}

label{
    font-size:20px;
}

span{
    display: inline-block;
    text-align: center;
    padding: 1em;
}

#table table {
    width: 100%;
    border-collapse: collapse;  
    border-radius: 10px;
    overflow: hidden;
}

#table th {
    padding: 12px 14px;
    text-align: left;
    border-bottom: 2px solid black;
}

#table td {
    padding: 12px 14px;
    border-bottom: 1px solid black;
}

#table tr:last-child td {
    border-bottom: none;
}

td input{
    display: block;
    margin: auto;
}

.resultWrapper {
    display:flex;
    gap: 20px;
}